@page
@model SignalRHubs.Pages.MoveCubeModel
@{
    ViewData["Title"] = "MoveCube";
}

<h2>Snake Game</h2>

<div id="playArea" style="width:800px;height:800px"></div>


<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/snake/snakelogic.js"></script>